* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

header #banner {
    width: 100%;
    max-height: 560px;
    position: relative;
}

header #logo {
    width: 125px;
    height: 62px;
    margin: 55px;
    position: absolute;
    z-index: 10;
}

header .text {
    width: 540px;
    position: absolute;
    top: 0;
    z-index: 10;
    margin: 185px 0 0 170px;
    color: #fff;
}

header .text .title {
    font-size: 40px;
    line-height: 51.4px;
    padding-bottom: 30px;
}

header .text .subtitle {
    font-size: 20px;
    line-height: 30px;
}

menu {
    display: flex;
    justify-content: space-evenly;
    height: 170px;
    background-color: #EAECE5;
}

menu li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.video {
    display: flex;
    justify-content: center;
    padding: 80px 0;
    gap: 60px;
    align-items: center;
}

.video .video-text {
    width: 500px;
}

.video .video-text h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    padding-bottom: 20px;
    color: #247BA0;
}

.video .video-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
    color: #383838;
}

.deposition {
    display: flex;
    flex-direction: column;
    background-color: #247BA0;
    padding: 80px 0;
}

.deposition h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #EAECE5;
}

.deposition .cards-carousel {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 0 100px;
}

.deposition .cards-carousel .card {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 532px;
    height: 172px;
    padding: 32px 40px;
    border-radius: 16px;
    gap: 20px;
    line-height: 24px;
    font-size: 16px;
    color: #383838;
}

.deposition .cards-carousel .card img {
    border-radius: 50%;
}

.deposition .cards-carousel .card p {
    padding-bottom: 15px;
}

.deposition .cards-carousel .card span {
    font-weight: 700;
}

#left {
    transform: rotate(180deg);
    display: none;
}

#left,
#right {
    cursor: pointer;
}

#card-sam {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 30px 0 100px 0;
}

form h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: #383838;
}

form input {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 413px;
    height: 53px;
    border-radius: 8px;
    padding-left: 20px;
    color: #383838;
    background-color: #EAECE5;
    border: none;
    outline: none;
}

form button {
    width: 335px;
    height: 53px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #247BA0;
}

form button:hover {
    background-color: #13536e;
    transition: ease-in-out .5s;
}